$primary-color: #222;

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    background-color: $primary-color;
}

.container {
    background: url('/assets/images/checkerboard-cross/checkerboard-cross.png');
    padding: 10px;
    margin-top: 20px;
}

.burgerRow {
    line-height: 2em;
    margin-bottom: 20px;
}

.eat-clean {
    background-color: #FACF3E;
}