<div class="row burgerRow">
    <div class="col-md-7">
        <p>{{burger_name}}</p>
    </div>
    <div class="col-md-5">
        <button class="eat-clean btn" data-id="{{id}}" data-devoured={{devoured}}>
            {{#if devoured}}Clean up plate{{else}}Eat Da Burger!{{/if}}
        </button>
    </div>
</div>
